@import url('../../Fonts/fonts.css');
h2, h4{
    font-family: 'Montserrat-Regular';
}

.headerModal-antd{
    display: flex;
    align-items: center;
    justify-content: start;
}
.textModal-antd{
    width: 80%;
    text-align: end;
}
.bodyActivateModal-antd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-header{
    width: 95% !important;
    letter-spacing: 1.2px;
    text-align: center;
}
.modal-errorMessage{
    width: 80% !important;
    font-family: 'Montserrat-Regular';
    font-weight: 600;
    color: rgba(0, 0, 0, 0.826);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-closeBTN{
    width: 60% !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px ;
    border: none;
    background: rgb(208, 216, 223);
    color: black;
    font-family: "Montserrat-Medium";
    font-size: 12pt;
    font-weight: 500;
    cursor: pointer;
}
.linkToRegistration{
    text-decoration: none;
    margin: 0 5px ;
}
@media screen and (max-width: 890px) {
    .modal-errorMessage{
        width: 95% !important;
    }
}