.MainFielfForBasket{
    width: 97%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background: transparent
}
.MainFielfForBasket .Item{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}
.Item .Img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px black;
}
.Item .ChangeAmount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ChangeAmount .ChangeInput{
    width: 40px;
    height: 20px;
    outline: auto;
}
.Item .BTNS{
    width: 30px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BTNS button {
    width: 20px;
    height: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

