@import url('/src/Fonts/fonts.css');
.fullContainer{
    width: 100%;
    min-height: 88vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.loading-basket{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/**/
.fullContainer .Chek{
    width: 25%;
    min-height: 350px !important; 
    border-radius: 0 10px 10px 0;
    border-radius: 10px;
    background: rgb(221, 241, 255);
    box-shadow: inset 0 0px 10px 3px rgba(164, 193, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Chek .typeOfDelivery{
    width: 90%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Regular';
    font-size: 9pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.typeOfDelivery p{
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.typeOfDelivery p:nth-child(1){
    border-right: 1.5px solid grey;
}
.typeOfDelivery .active{
    color: #e55050 !important;
}
.Chek .infoAboutUser{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.Chek label{
    width: 100%;
}
label p{
    margin: 0 0 7px 0;
    padding: 0;
    font-size: small;
}
/*Multy label Adress and Post Index*/
.adressPostIndex{
    width: 95%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between !important;
}
.adressPostIndex label:nth-child(1){
    width: 65% !important;
}
.adressPostIndex label:nth-child(2){
    width: 30% !important;
}
/*------*/
.Chek .checkInput{
    width: 95%;
    outline: none;
    background: rgb(236, 249, 253);
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin: 0 0 5px 0;
}
.Chek .makeBTN{
    width: 80%;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: rgba(104, 7, 216, 0.578);
    color:antiquewhite;
    font-weight: bold;
}
.Chek .makeBTN:hover{
    background: rgba(104, 7, 216, 0.899);
}
.Chek .disabled{ 
    width: 80%;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: rgba(104, 7, 216, 0.578);
    color:rgb(87, 87, 87);
    font-weight: bold;
    background-color: rgb(158, 158, 158) !important;
    cursor: not-allowed;
}
/**/
.MainFielfForBasket{
    width: 65%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    background: transparent;
    box-shadow: inset 0 0px 10px 3px rgba(164, 193, 250);
}
.MainFielfForBasket .basketParametrs{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.basketParametrs p{
    font-family: 'Montserrat-Regular';
}
.MainFielfForBasket .basketParametrs #fullName{
    width: 51%;
}
.MainFielfForBasket .basketParametrs #price{
    width: 12%;
}
.MainFielfForBasket .basketParametrs #amount{
    width: 12%;
}
.MainFielfForBasket .basketParametrs #totalPrice{
    width: 15%;
}
.backItemBlock{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.backItemBlock h4, h3{
    margin: 0;
    padding: 10px 0;
    font-family: 'Montserrat-Regular';
    font-size: 13pt;
}
/**/
.MainFielfForBasket .Item{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(217, 231, 248);
    border-radius: 10px;
    margin: 10px;
    padding: 0 5px;
}
.Item h4{
    width: 30%;
    margin: 0;
}
.Item img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 3px;
}
.Item #summaryPrice{
    min-width: 80px;
    text-align: start;
}
.Item .ChangeAmount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ChangeAmount .ChangeInput{
    width: 40px;
    height: 20px;
    outline: none;
    border: none;
    background: rgba(252, 252, 253, 0.642);
}
.Item .deleteItem {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 1px;
    cursor: pointer;
    background: rgb(196, 219, 244);
}
.Item .deleteItem:hover {
    background: #e55050 !important;
}
/**/
.MainFielfForBasket .emptyBasketMessage{
    width: 90%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emptyBasketMessage .chooseGoods{
    color: rgb(103, 196, 254);
    text-decoration: none;
    font-family: 'Montserrat-Medium';
    font-size: 12pt;
}
.emptyBasketMessage .chooseGoods:hover{
    color: rgb(34, 170, 254)
}

/*MEDIA*/
@media screen and (max-width: 944px) {
    .fullContainer{
        flex-direction: column;
    }
    .MainFielfForBasket{
        border-radius: 10px 10px 0 0;
    }
    .fullContainer .Chek{
        width: 65%;
        height: 150px;
        border-radius: 0 0 10px 10px;
    }
    .backItemBlock{
        width: 65%
    }
    .MainFielfForBasket .basketParametrs{
        width: 90%;
        padding: 0 3px;
    }
}
@media screen and (max-width:848px){
    .MainFielfForBasket{
        width: 90% !important;
    }
    .fullContainer .Chek{
        width: 90%;
        margin-bottom: 30px;
    }
    .Item h4{
        width: 30%;
    }
    .MainFielfForBasket .basketParametrs #fullName{
        width: 55%;
        padding: 0 3px;
    }
    .MainFielfForBasket .basketParametrs #price{
        width: 15%;
        padding: 0 3px;
    }
    .MainFielfForBasket .basketParametrs #amount{
        width: 17%;
        padding: 0 3px;
    }
    .MainFielfForBasket .basketParametrs #totalPrice{
        display: none !important;
    }
    .Item #summaryPrice{
        display: none !important;
    }
}
@media screen and (max-width:730px){
    .MainFielfForBasket{
        width: 90% !important;
    }
    .fullContainer .Chek{
        width: 90%;
        margin-bottom: 30px;
    }
}