@import url('/src/Fonts/fonts.css');
h2{
    min-width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*update photos*/
.listPhotos{
    width: 98%;
    max-width: 480px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background: rgb(239, 248, 255)
}
.listPhotos .examplePhoto{ 
    min-width: 90px;
    max-width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    transition: all .3s ease
}
.listPhotos .examplePhoto:hover{
    opacity: 0.4;
}

/*update name, metric*/
.updateName{
    height: 22.5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Montserrat-Regular';
}
.updatePrice{
    width: 70px;
    height: 22.5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Montserrat-Regular';
    margin-left: 20px;
}

/*update description*/
.updateTextarea{
    width: 350px;
    height: 175px;
    resize: none;
    margin-top: 5px;
}
/*update variant*/
.formContainer{
    width: 70%; 
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    margin: 10px 0
}
.formContainer input{
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Montserrat-Regular';
}
/*update buttons*/
.updateBTNS{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}