
.ContainerForSignUp{
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    margin-right: 85px;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-name: SlideSignUp;
    animation-fill-mode:both;
}
@keyframes SlideSignUp {
    0% { width: 50px; }
    100% { width: 1000px; }
}
.ContainerForSignUp .SignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 380px;
    height: 420px;
    background-color: rgb(188, 216, 224);
    border-radius: 10px;
}
.SignUp .StatusValidateForm{
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-weight: lighter;
    font-size: small;
    padding: 0; 
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    /* position: absolute; */
}
.good{
    color: green;
}
.bad{
    color: red;
}
.yellow{
    color: black;
    background-color: yellow;
   
}
.SignUp .ForInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ForInputs .PasswordField{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.PasswordField .EyeBtn{
    position: absolute;
    margin-left: 300px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.SignUp .Input{
    width: 350px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #191d1a !important;
    color: black;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    font-size: larger;
    padding-left: 15px;
    margin: 10px 0;
    outline: none;
}
.SignUp .Input::-webkit-input-placeholder { 
    color: black;
}
.SignIn{
    margin: 0;
    padding: 0;
    color: black;
    display: none;
}
.SignIn:hover{
    color: blue;
    cursor: pointer;
}
.SignUp .SignUpBTN{
    width: 140px;
    height: 50px;
    background-color: #3d6170;
    opacity: 70%;
    border-radius: 20px;
    font-size: large;
    color: rgb(21, 21, 21);
    font-weight: 500;
    font-family: AdventPro;
}
.SignUp .SignUpBTN:hover{
    opacity: 100%;
    color: black;
    cursor: pointer;
}
.ActiveInput{
    border-bottom:3px solid red !important ;
}
.ContainerForSignUp .SignInChangeBtn{
    position: relative;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: "montserrat";
    text-decoration: none;
    border: 2px solid #ff7675;
    padding: 14px 20px;
    cursor: pointer;
  }
  .ContainerForSignUp .SignInChangeBtn:hover{
    background-color: #ff7675;
    border: 2px solid #e8e8e8;
    color: #e8e8e8;
  }
  .ContainerForSignUp .ChangeField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ChangeField p{
    color: #eceeef;
    font-weight: bold;
    font-size: larger;
    margin: 20px;
    width: 200px;
    text-align: center;
  }


  @media screen and (max-width: 890px) {
    .ContainerForSignUp{
        display: flex;
        flex-direction: column;
    }
    .ContainerForSignUp .SignUp{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 350px;
        height: 320px;
        background-color: rgb(188, 216, 224);
        border-radius: 10px;
    }
    .ContainerForSignUp h1{
        margin-top: 20px;
        font-size: smaller;
    }
    .SignIn{
        display: block;
    }
    .SignUp .Input{
        width: 250px;
        height: 40px;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #191d1a !important;
        color: black;
        text-shadow: 2px 2px 3px rgb(255, 255, 255);
        font-size:medium;
        padding-left: 15px;
        outline: none;
    }
    .SignUp .SignUpBTN{
        width: 140px;
        height: 50px;
        background-color: #3d6170;
        opacity: 70%;
        border-radius: 20px;
        font-size: large;
        color: rgb(21, 21, 21);
        font-weight: 500;
        font-family: AdventPro;
    }
    .SignUp .SignUpBTN:hover{
        opacity: 100%;
        color: black;
        cursor: pointer;
    }
    .ContainerForSignUp .ChangeField{
        display: none;
    }
    
}