.changeField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.changeField p{
    width: 200px;
    font-family: 'Montserrat-Regular';
    font-size: 14pt;
    text-align: center;
    color: #eceeef;
    margin: 20px;
}
.signUpChangeBtn{
    position: relative;
    display: block;
    color: rgb(0, 0, 0) !important;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #0865f1;
    border-radius: 5px;
    padding: 14px 20px;
    cursor: pointer;
    transition: all 0.5s;
} .signUpChangeBtn:hover{
    background-color: #1d78fe;
    border: 2px solid #e8e8e8;
    color: #e8e8e8;
}

@media screen and (max-width: 890px) {
    .changeField{
        display: none;
    }
}