/* @import url("/src/Fonts/fonts.css"); */
.containerForSignUp{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    animation: max-screenOpening_SU 1s ease forwards;
}
@keyframes max-screenOpening_SU{
    0%{
        width: 50%;
    }
    100%{
        width: 95%;
    }
}
@keyframes other-screenOpening_SU{
    0%{
        width: 20%;
    }
    100%{
        width: 90%;
    }
}
.containerForSignUp .signUp{
    width: 30%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(207, 222, 226);
    border-radius: 10px;
}
.signUp h1{
    animation: headerAnimation 1s ease forwards;
}
@keyframes headerAnimation{
    0%{
        color: transparent;
    }
    50%{
        color: transparent
    }
    100%{
        color: black
    }
}
.signUp .statusValidateForm{
    width: 90% !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Montserrat-Regular';
    font-size: 9pt !important;
    border-radius: 20px;
    color: red
}
.green{
    color: green;
    font-weight: 600 !important;
}
.red{
    color: red;
    font-weight: 600 !important;
}
.signUp .forInputs{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forInputs .passwordField{
    width: 93% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important; 
}
.passwordField svg{
    border-radius: 40%;
    padding: 0 3px 3px 0 ;
    background: rgb(192, 192, 192);
}
.signUp .helpMessage{
    width: 90%;
    font-family: 'Montserrat-Light';
    font-size: 7pt;
    display: none;
    margin: 5px 0 15px 0;
    text-align: center;
}
.helpMessage span{
    cursor: pointer;
    margin-left: 7px;
    font-family: 'Montserrat-Medium';
    font-size: 8pt;
    color: #36519d !important;
}
.helpMessage span:hover{
    color: rgba(0, 0, 255, 0.861) !important;
}
.signUp .input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #000000 !important;
    color: black;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    font-family: 'Montserrat-Medium' !important;
    font-size: 14pt;
    padding: 0 0 5px 15px;
    margin: 15px 0;
    outline: none;
}
.signUp .input:nth-child(1){
    width: 88%;
    margin-bottom: 5px !important;
}
.signUp .input::-webkit-input-placeholder { 
    color: rgba(0, 0, 0, 0.733);
    font-family: 'Montserrat-Medium' !important;
    font-size: 12pt !important;
}
.signUp .signUpBTN{
    width: 20px;
    height: 50px;
    color: transparent; 
    background-color: rgb(164, 193, 250);
    border: 1px solid rgb(0, 18, 106);
    border-radius: 15px;
    font-size: 12pt;
    font-weight: 500;
    font-family: 'Montserrat-Medium';
    cursor: pointer;
    margin: 20px 0 10px 0;
    transition: all 0.4s linear;
    animation: btnChange_SU 1s ease forwards;
}
.signUp .signUpBTN:hover{ 
    border: 1.5px solid rgb(0, 18, 106);
    background-color: rgb(109, 155, 248); 
}
@keyframes btnChange_SU{
    0%{
        width: 20px ;
        color: transparent;
    }
    50%{
        color: transparent;
    }
    100%{
        width: 200px;
        color: rgb(0, 0, 0);;
    }
}
.ActiveInput{
    border-bottom:3px solid red !important ;
}
.containerForSignUp .signInChangeBtn{
    position: relative;
    display: block;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #0865f1;
    border-radius: 5px;
    padding: 14px 20px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .containerForSignUp .signInChangeBtn:hover{
    background-color: #1d78fe;
    border: 2px solid #e8e8e8;
    color: #e8e8e8;
  }
  .containerForSignUp .changeField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .changeField p{
    width: 200px;
    font-family: 'Montserrat-Regular';
    font-size: 14pt;
    text-align: center;
    color: #eceeef;
    margin: 20px;
  }

/*MEDIA*/
@media screen and (max-width: 890px) {
    .containerForSignUp{
        width: 20%;
        display: flex;
        flex-direction: column;
        animation: other-screenOpening_SU 1s ease forwards;
    }
    .containerForSignUp .signUp{
        width: 55%;
    }
    .signIn{
        display: block;
    }
    .signUp .input{
        width: 100%;
    }
    /**/
    .signUp .signUpBTN{
        border: 1.5px solid rgb(0, 18, 106) !important;
        background-color: rgb(109, 155, 248) !important; 
    }
    .containerForSignUp .changeField{
        display: none;
    }
    .signUp .helpMessage{
        display: inline;
        animation: helpMessageAnimation 1s ease forwards;
    }
  @keyframes helpMessageAnimation{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
}
@media screen and (max-width: 700px){
    .containerForSignUp{
        width: 30% ;
        display: flex;
        flex-direction: column;
        animation: max-screenOpening_SU 1s ease forwards;
    }
    .containerForSignUp .signUp{
        width: 90% !important;
    }
}