.ContainerForTypeCatalog{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    background-color: white;
    background-color: rgb(164, 193, 250);
}
.ContainerForTypeCatalog h1{
    text-align: center;
}
.ContainerForTypeCatalog .ContainerForCards{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ContainerForCards .Card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: rgba(145, 213, 247, 0.594); 
}
.Card .AddToCartBTN{
    width: 120px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(227, 85, 85, 0.799);
    border: 1px solid black;
    color: aliceblue;
    font-size: medium;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
.Card .AddToCartBTN:hover{
    background-color: rgba(227, 85, 85);
    border:  2px solid rgb(8, 8, 212);;
}
.ContainerForTypeCatalog .WarningMessage{
    width: 80%;
    height: 300px;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.WarningMessage h1{
    color: rgb(236, 55, 55);
}
.ContainerForTypeCatalog .AddedOrder{
    background-color: rgba(249, 249, 8, 0.817);
    color: black;
    font-weight: bold;
    position: sticky;
    top: 0;
    border-radius: 20px;
    padding: 10px;
}
.AddedOrder h1{
    margin: 0;
}
.ContainerForTypeCatalog .modelCountWindow{
    width: 200px;
    height: 150px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(211, 208, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modelCountWindow h3{
    text-align: center;
}
.modelCountWindow .countInput{
    width: 100px;
}
.modelCountWindow .AddBtn{
    width: 70px;
    height: 30px;
    background-color: rgba(210, 9, 2, 0.651);
    border: none;
    border-radius: 15px;
    margin-top: 10px;
}