.ContainerForTypeCatalog{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}
.ContainerForTypeCatalog h1{
    text-align: center;
}
.ContainerForTypeCatalog .ContainerForCards{
    width: 90%;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ContainerForCards .Card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: rgba(145, 213, 247, 0.594); 
}
.Card div div{
    border-radius: 20px 20px 0 0 !important;
}
.Card .AddToCartBTN{
    width: 135px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(227, 85, 85, 0.8);
    border: 1px solid black;
    color: aliceblue;
    font-size: medium;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
.Card .AddToCartBTN:hover{
    background-color: rgba(227, 85, 85);
}
.ContainerForTypeCatalog .WarningMessage{
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.WarningMessage h1{
    color: rgb(236, 55, 55);
}
.ContainerForTypeCatalog .AddedOrder{
    color: rgba(3, 27, 245, 0.884);
    font-weight: bold;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top: 0;
    margin-top: 10px;
}
.AddedOrder h1{
    margin: 0;
}
.ContainerForTypeCatalog .modelCountWindow{
    width: 200px;
    height: 150px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(211, 208, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modelCountWindow h3{
    text-align: center;
}
.modelCountWindow .countInput{
    width: 100px;
}
.modelCountWindow .AddBtn{
    width: 70px;
    height: 30px;
    background-color: rgba(210, 9, 2, 0.651);
    border: none;
    border-radius: 15px;
    margin-top: 10px;
}
/**/
.modalViewContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.modalViewContainer .changeParametrsOfOrder{
    color: rgba(24, 24, 248, 0.614);
    text-align: center;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: medium;
}
.modalViewContainer .changeParametrsOfOrder:hover{
    color: rgba(24, 24, 248);
}

.imgContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.BTNS{
    width: 240px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}