@import url('/src/Fonts/fonts.css');
/**/
.infoContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.infoOrder{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0;
}
.infoOrder .description_metrics{
    width: 80%;
}
.description_metrics span{
    width: 70%;
}
.orderMatrics{
    width: 30%;
    float: right;
    padding: 0 10px;
}
.orderMatrics::before{
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background: #238cfdb1;
    box-shadow: 0px 0px 15px 5px #61aeff;
    margin-bottom: 10px;
}
.orderMatrics .mitricItem{
    width: 80%;
    list-style: none;
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin: 3px 10px;
    font-family: 'Montserrat-Medium';
}

.mitricItem span{
    font-family: 'Montserrat-Regular';
    font-size: 11pt;
    text-align: end;
    color: #0050a5;
}
.orderMatrics .hide{
    display: none;
}

.forOrderMakes{
    width: 100%;
    font-family: 'Montserrat-Medium';
    font-size: 14pt;
    text-align: start;
}
.forOrderMakes span{
    font-family: 'Montserrat-Regular';
    font-size: 12pt;
}
.item-contact{
    margin-left: 10px !important;
    font-family: 'Montserrat-Bold' !important;
    transition: all 0.3s;
}
.item-contact:hover{
    color: #5da6f3;
}
/**/
.ContainerForTypeCatalog{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}
.ContainerForTypeCatalog h1{
    text-align: center;
}
.ContainerForTypeCatalog .ContainerForCards{
    width: 70%;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.ContainerForCards .Card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: rgba(145, 213, 247, 0.594); 
}
.Card div div{
    border-radius: 20px 20px 0 0 !important;
}
.Card .AddToCartBTN{
    width: 135px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #5da6f3bd;
    border: 1px solid black;
    color: aliceblue;
    font-size: medium;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
.Card .AddToCartBTN:hover{
    background-color: #5da6f3;
}
.ContainerForTypeCatalog .WarningMessage{
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.WarningMessage h1{
    color: rgb(236, 55, 55);
}
.ContainerForTypeCatalog .AddedOrder{
    color: rgba(3, 27, 245, 0.884);
    font-family: 'Montserrat-Medium' !important;
    position: sticky;
    top: 0;
    margin-top: 10px;
}
.AddedOrder h1{
    margin: 0;
}
.ContainerForTypeCatalog .modelCountWindow{
    width: 200px;
    height: 150px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(211, 208, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modelCountWindow h3{
    text-align: center;
}
.modelCountWindow .countInput{
    width: 100px;
}
.modelCountWindow .AddBtn{
    width: 70px;
    height: 30px;
    background-color: rgba(210, 9, 2, 0.651);
    border: none;
    border-radius: 15px;
    margin-top: 10px;
}
/**/
.modalViewContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.modalViewContainer .changeParametrsOfOrder{
    color: rgba(24, 24, 248, 0.614);
    text-align: center;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: medium;
}
.modalViewContainer .changeParametrsOfOrder:hover{
    color: rgba(24, 24, 248);
}
.imgContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.BTNS{
    width: 240px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 900px){
    .infoContainer{
        width: 95%;
    }
    .infoOrder .description_metrics{
        width: 100%;
    }
    .Card .AddToCartBTN{
        background:#5da6f3 !important;
    }
}
@media screen and (max-width: 620px){
    .infoContainer{
        width: 90%;
        display: flex;
        flex-direction: row;
    }
    .infoOrder h1{
        width: 95%;
        text-align: center;
    }
    .infoOrder .description_metrics{
        width: 95%;
        display: flex;
        align-items: center;
        flex-direction: column !important;
    }
    .description_metrics span{
        width: 100%;
        font-size: 10pt;
    }
    .orderMatrics{
        width: 45%;
    }
    .orderMatrics::before{
        content: none;
    }
    .orderMatrics::after{
        content: '';
        display: block;
        /* transform: rotate(90deg); */
        width: 100%;
        height: 2px;
        background: #238cfdb1;
        box-shadow: 0px 0px 15px 5px #61aeff;
        margin: 10px 0
    }
    .orderMatrics .mitricItem{
        width: 100%;
        font-size: 10pt;
        margin: 0;
    }
    .orderMatrics .mitricItem span{
        text-align: end;
    }
    .ContainerForTypeCatalog .ContainerForCards {
        align-items: center;
        justify-content: center;
    }
    .forOrderMakes{
        font-size: 10pt;
    }
    .forOrderMakes span{
        font-size: 9pt;
    }
}