@import url('/src/Fonts/fonts.css'); 

.aboutCompanyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutCompanyContainer p{
    width: 800px;
    text-align: center;
    font-family: 'Montserrat-Regular' !important;
    font-size: 11pt;
    margin-top: 0;
}
.aboutCompanyContainer h3{
    font-family: 'GARAIT';
    color: rgba(0, 0, 0, 0.8) !important
}
@media screen and (max-width:819px) {
    .aboutCompanyContainer p{
        width: 95%;
        font-family: 'Montserrat-Regular' !important;
        font-size: 11pt;
        margin-top: 0;
    }
}
@media screen and (max-width: 570px){
    .aboutCompanyContainer h1{
        text-align: center;
    }
}
