@import url('/src/Fonts/fonts.css');
.card{
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 15px 10px 15px;
    padding: 0 0 5px 0;
    border-radius: 10px;
    background: rgb(244, 249, 253);
}
.card .infoOfCard{
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card .carouselContainer{
    width: 190px;
    height: 180px;
    border-radius: 10px;
}
.dotsCarousel{
    width: 100% ;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.411);
    padding: 5px 0;
}
.dotsCarousel li{
    width: 12.5px !important;
    height: 12.5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;
    margin: 0 7.5px !important;
    background: rgb(255, 255, 255) ;
}
li button{
    background: transparent !important;
}
 .slick-dots-bottom{
    bottom: -34px !important;
}
.slick-active{
    background: #1d78fe !important; 
}
.card .nameButton{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h4{
    padding: 0;
    margin: 10px 0 5px 0;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card p{
    width: 85%;
    font-weight: 400;
    font-size: small;
}
.card span{
    font-size: medium;
    font-weight: 500;
    font-style:normal;
}
.card .catalogBTN{
    width: 95%;
    height: 30px;
    font-family: 'Montserrat-Medium';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    color: aliceblue !important;
    background-color: #5da6f3 !important;
    border-radius: 3px;
    text-decoration: none;
    margin: 10px 0 5px 0;
}
.card .catalogBTN:hover{
    background-color: rgb(245, 57, 88);
    
}
.addToCartBTN{
    width: 97%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #5da6f3bd;
    /* border: 1px solid black; */
    color: aliceblue;
    font-size: medium;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .card{
        margin: 5px;
    }
}