@import url('/src/Fonts/fonts.css');
.card{
    width: 190px;
    min-height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 15px 10px 15px;
    padding: 0 0 5px 0;
    border-radius: 10px;
    background: rgb(244, 249, 253);
}
.card .infoOfCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card .carouselContainer{
    width: 190px;
    height: 200px;
    border-radius: 10px 10px 0 0 ;
}
.card .nameButton{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h4{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat-Regular';
    padding: 0;
    margin: 10px 0 5px 0;
}
.card p{
    width: 85%;
    font-weight: 400;
    font-size: small;
}
.card .price{
    font-style: normal;
    font-size: 11pt;
    font-weight: 500;
}
.card .catalogBTN{
    width: 95%;
    height: 30px;
    font-family: 'Montserrat-Medium';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    color: aliceblue !important;
    background-color: #5da6f3 !important;
    border-radius: 3px;
    text-decoration: none;
    margin: 10px 0 5px 0;
}
.card .catalogBTN:hover{
    background-color: rgb(245, 57, 88);
    
}
.addToCartBTN{
    width: 97%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #5da6f3bd;
    color: aliceblue;
    font-size: medium;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

@media screen and (max-width: 620px) {
    .card{
        margin: 5px;
    }
}