@import url('/src/Fonts/fonts.css');
.containerForContactWithUs{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    background: url('/src/Photos/ContactWithUs.png');
    background-size: cover;
    color: black;
    margin-top: 20px;
}
.containerForContactWithUs h1{
    text-align: center;
    color: rgb(238, 245, 253);
    margin: 60px 0 20px 0 ;
}
.massagerIcons svg{
    width: 50px;
    height: 50px;
    margin: 30px 30px;
}
.containerForContactWithUs .mobilePhone{
    font-weight: bold !important;
    font-size: larger !important;
    letter-spacing: 1px;
    color: rgb(238, 245, 253) !important;
}
.containerForContactWithUs p{
    font-family: 'Montserrat-Medium' !important;
    font-size: 11pt !important ;
    font-weight: 500 ;
    font-size: medium !important;
    margin-top: -15px;
    color: rgb(238, 245, 253);
}