.DiscriptionContainer{
  width: 60%;
  display: flex;
  overflow-x: scroll ;
  margin-top: 10px;
  border-radius: 20px;
}
.DiscriptionContainer::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  margin-top: 5px;
  background: rgb(130, 172, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(164, 193, 250);
}

.DiscriptionContainer .Slide{
    height: calc(100vh - 100px);
    flex: 0 0 100%;
    padding: 0 20px 0 0;
    scroll-snap-align: start;
}
.DiscriptionContainer .Slide:nth-child(6){
  padding: 0;
}
@media screen and (max-width:890px){
  .DiscriptionContainer{
    width: 80% !important;
    max-height: 550px !important;
  }
}
@media screen and (max-width:730px){
  .DiscriptionContainer{
    width: 95% !important;
    max-height: 450px !important;
  }
  .DiscriptionContainer .Slide{
    max-height: 380px;
}
}