.ContainerForRegistration{
    width: 100%;
    height: 100vh;
    background: url('/src/Photos/Registration.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ContainerForRegistration .FieldEffect{
    width: 75%;
    height: 60%;
    border-radius: 5px;
    background-color: rgba(45, 45, 206, 0.728);
}
.ContainerForRegistration .RegistrField{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}
@media screen and (max-width: 700px){
    .ContainerForRegistration .FieldEffect{
        display: none !important;
    }
}