@import url('/src/Fonts/fonts.css');

.ContainerForSignIn{
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    animation: max-screenOpening_SI 1s ease forwards;
}
@keyframes max-screenOpening_SI{
    0%{
        width: 50%;
    }
    100%{
        width: 95%;
    }
}
@keyframes other-screenOpening_SI{
    0%{
        width: 20%;
    }
    100%{
        width: 90%;
    }
}
.ContainerForSignIn .SignIn{
    width: 30%;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(207, 222, 226);
    border-radius: 10px;
}
.SignIn h1{
    animation: headerAnimation 1s ease forwards;
}
@keyframes headerAnimation{
    0%{
        color: transparent;
    }
    50%{
        color: transparent
    }
    100%{
        color: black
    }
}
.SignIn .StatusValidateForm{
    width: 90% !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Montserrat-Light';
    font-size: 8pt !important;
    border-radius: 20px;
}
.SignIn .ForInputs{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ForInputs .PasswordField_SI{
    width: 93% !important;
    display: flex !important;
    flex-direction: row !important;
    margin: 10px 0 0 0 ;
}
.PasswordField_SI .EyeBtn{
    border: none;
    border-radius: 50%;
    background: transparent ;
    cursor: pointer;
}
.SignIn .helpMessage_SI{
    width: 90%;
    color: transparent;
    font-family: 'Montserrat-Medium';
    font-size: 8pt;
    display: none;
    margin: 5px 0 15px 0;
    text-align: center;
    cursor: pointer;
}
.SignIn .helpMessage_SI:hover{
    color: rgba(0, 0, 255, 0.861) ;
}
.SignIn .Input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #000000 !important;
    color: black;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    font-family: 'Montserrat-Medium' !important;
    font-size: 14pt;
    padding-left: 15px;
    margin: 10px 0;
    outline: none;
}
.SignIn .Input:nth-child(1){
    width: 88% !important;
    margin-bottom: 5px !important;
}
.SignIn .Input::-webkit-input-placeholder { 
    color: rgba(0, 0, 0, 0.733);
    font-family: 'Montserrat-Medium' !important;
    font-size: 12pt !important;
}
.SignIn .SignInBTN{
    width: 20px;
    height: 50px; 
    background-color: rgb(164, 193, 250);
    border: 1px solid rgb(0, 18, 106);
    border-radius: 15px;
    font-size: 12pt;
    font-weight: 500;
    font-family: 'Montserrat-Medium';
    cursor: pointer;
    margin: 20px 0 10px 0;
    transition: all 0.4s linear;
    animation: btnChange_SI 1s ease forwards;
}
.SignIn .SignInBTN:hover{
    border: 1.5px solid rgb(0, 18, 106);
    background-color: rgb(109, 155, 248); 
}
@keyframes btnChange_SI{
    0%{
        width: 20px ;
        color: transparent;
    }
    50%{
        color: transparent;
    }
    100%{
        width: 200px;
        color: rgb(0, 0, 0);;
    }
}
.ActiveInput{
    border-bottom:3px solid red !important ;
}
.ContainerForSignIn .SignInChangeBtn{
    position: relative;
    display: block;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #ff7675;
    border-radius: 5px;
    padding: 14px 20px;
    cursor: pointer;
    transition: all 0.4s;
  }
  .ContainerForSignIn .SignInChangeBtn:hover{
    background-color: #ff7675;
    border: 2px solid #e8e8e8;
    color: #e8e8e8;
  }
  .ContainerForSignIn .ChangeField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ChangeField p{
    width: 200px;
    font-family: 'Montserrat-Regular';
    font-size: 14pt;
    text-align: center;
    color: #eceeef;
    margin: 20px;
  }

@media screen and (max-width: 890px) {
    .ContainerForSignIn{
        width: 20%;
        display: flex;
        flex-direction: column;
        animation: other-screenOpening_SI 1s ease forwards;
    }
    .ContainerForSignIn .SignIn{
        width: 55% !important;
        min-height: 420px !important;
    }
    .SignIn .ForInputs{
        flex: 1!important;
    }
    .SignIn .Input{
        width: 90% !important;
    }
    .RegistrBtn{
        display: block;
    }
    /**/
    .SignIn .SignInBTN{
        width: 20px ;
        border: 1.5px solid rgb(0, 18, 106) !important;
        background-color: rgb(109, 155, 248) !important;
    }

    .ContainerForSignIn .ChangeField{
        display: none;
    }
    .SignIn .helpMessage_SI{
        display: inline;
        color: rgba(0, 0, 255, 0.861) !important;
        animation: helpMessageAnimation 1s ease forwards;
    }
    @keyframes helpMessageAnimation{
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}
@media screen and (max-width: 700px){
    .ContainerForSignIn{
        width: 30%;
        display: flex;
        flex-direction: column;
        animation: max-screenOpening_SI 1s ease forwards;
    }
    .ContainerForSignIn .SignIn{
        width: 90% !important; 
    }
}