@import url("/src/Fonts/fonts.css");
.ContainerForSignUp{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    animation: max-screenOpening_SU 1s ease forwards;
}
@keyframes max-screenOpening_SU{
    0%{
        width: 50%;
    }
    100%{
        width: 95%;
    }
}
@keyframes other-screenOpening_SU{
    0%{
        width: 20%;
    }
    100%{
        width: 90%;
    }
}
.ContainerForSignUp .SignUp{
    width: 30%;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(207, 222, 226);
    border-radius: 10px;
}
.SignUp .StatusValidateForm{
    width: 90% !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'CENTURY';
    font-weight: lighter !important;
    font-size: 9pt !important;
    border-radius: 20px;
}
.green{
    color: green;
}
.red{
    color: red;
}
.yellow{
    color: rgba(218, 218, 23, 0.797);
    text-shadow: 2px 2px 2px rgb(112, 112, 81);
}
.SignUp .ForInputs{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ForInputs .PasswordField{
    width: 93% !important;
    display: flex !important;
    flex-direction: row !important;
}
.PasswordField .EyeBtn{
    border: none;
    border-radius: 50%;
    background: transparent ;
    cursor: pointer;
}
.ForInputs .helpMessage{
    width: 90%;
    font-size: x-small;
    font-weight: 600;
    display: none;
    margin: 0 0 20px 15px;
}
.helpMessage span{
    cursor: pointer;
    margin-left: 10px;
    font-size: small !important;
    font-weight: 700 !important;
    color: #36519d !important;
}
.helpMessage span:hover{
    color: rgba(0, 0, 255, 0.861) !important;
}
.SignUp .Input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #191d1a !important;
    color: black;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    font-size: larger;
    padding-left: 15px;
    margin: 10px 0;
    outline: none;
}
.SignUp .Input:nth-child(1){
    width: 88%;
    margin-bottom: 5px !important;
}
.SignUp .Input::-webkit-input-placeholder { 
    color: rgba(0, 0, 0, 0.733);
    font-family: 'CONSTAN';
}
.SignUp .SignUpBTN{
    width: 20px;
    height: 50px;
    color: transparent; 
    background-color: rgb(164, 193, 250);
    border: 1px solid rgb(0, 18, 106);
    border-radius: 15px;
    font-size: 12pt;
    font-weight: 500;
    font-family: "CONSOLA";
    cursor: pointer;
    margin: 10px 0;
    transition: all 0.4s linear;
    animation: btnChange_SU 1s ease forwards;
}
.SignUp .SignUpBTN:hover{ 
    border: 1.5px solid rgb(0, 18, 106);
    background-color: rgb(109, 155, 248); 
}
@keyframes btnChange_SU{
    0%{
        width: 20px ;
        color: transparent;
    }
    50%{
        color: transparent;
    }
    100%{
        width: 200px;
        color: rgb(0, 0, 0);;
    }
}
.ActiveInput{
    border-bottom:3px solid red !important ;
}
.ContainerForSignUp .SignInChangeBtn{
    position: relative;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: "montserrat";
    text-decoration: none;
    border: 2px solid #ff7675;
    border-radius: 5px;
    padding: 14px 20px;
    cursor: pointer;
    transition: all 0.4s;
  }
  .ContainerForSignUp .SignInChangeBtn:hover{
    background-color: #ff7675;
    border: 2px solid #e8e8e8;
    color: #e8e8e8;
  }
  .ContainerForSignUp .ChangeField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ChangeField p{
    color: #eceeef;
    font-weight: bold;
    font-size: larger;
    margin: 20px;
    width: 200px;
    text-align: center;
  }
@media screen and (max-width: 890px) {
    .ContainerForSignUp{
        width: 20%;
        display: flex;
        flex-direction: column;
        animation: other-screenOpening_SU 1s ease forwards;
    }
    .ContainerForSignUp .SignUp{
        width: 55%;
    }
    .SignIn{
        display: block;
    }
    .SignUp .Input{
        width: 100%;
    }
    /**/
    .SignUp .SignUpBTN{
        border: 1.5px solid rgb(0, 18, 106) !important;
        background-color: rgb(109, 155, 248) !important; 
    }
    .ContainerForSignUp .ChangeField{
        display: none;
    }
    .ForInputs .helpMessage{
        display: inline;
    }
    
}
@media screen and (max-width: 700px){
    .ContainerForSignUp{
        width: 30% ;
        display: flex;
        flex-direction: column;
        animation: max-screenOpening_SU 1s ease forwards;
    }
    .ContainerForSignUp .SignUp{
        width: 90% !important;
    }
}