
.ContainerForSignIn{
    width: 100% !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
}
.ContainerForSignIn .SignIn{
    width: 30%;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(207, 222, 226);
    border-radius: 10px;
}
.SignIn .StatusValidateForm{
    width: 90% !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-weight: lighter;
    font-size: small;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}
.SignIn .ForInputs{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ForInputs .PasswordField{
    width: 93% !important;
    display: flex !important;
    flex-direction: row !important;
}
.PasswordField .EyeBtn{
    border: none;
    border-radius: 50%;
    background: transparent ;
    cursor: pointer;
}
.ForInputs .helpMessage{
    width: 90%;
    font-size: small;
    font-weight: 600;
    display: none;
}
.helpMessage span{
    margin-left: 20px;
}
.SignIn .Input{
    width: 100% !important;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #191d1a !important;
    color: black;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    font-size: larger;
    padding-left: 15px;
    margin: 10px 0;
    outline: none;
}
.SignUp .Input:nth-child(1){
    width: 90%;
}
.SignIn .Input::-webkit-input-placeholder { 
    color: black;
}
.SignIn .SignInBTN{
    width: 160px;
    height: 40px;
    background-color: rgba(164, 193, 250, 0.788);
    border-radius: 10px;
    font-size: large;
    color: rgb(0, 0, 0);
    font-weight: 500;
    cursor: pointer;
    font-family: AdventPro;
    border: 1.5px solid rgb(0, 18, 106);
}
.SignIn .SignInBTN:hover{
    color: rgb(0, 0, 0);  
    background-color: rgb(164, 193, 250);
}
.ActiveInput{
    border-bottom:3px solid red !important ;
}
.ContainerForSignIn .SignInChangeBtn{
    position: relative;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: "montserrat";
    text-decoration: none;
    border: 2px solid #ff7675;
    padding: 14px 20px;
    cursor: pointer;
  }
  .ContainerForSignIn .SignInChangeBtn:hover{
    background-color: #ff7675;
    border: 2px solid #e8e8e8;
    color: #e8e8e8;
  }
  .ContainerForSignIn .ChangeField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ChangeField p{
    color: #eceeef;
    font-weight: bold;
    font-size: larger;
    margin: 20px;
    width: 200px;
    text-align: center;
  }

@media screen and (max-width: 890px) {
    .ContainerForSignIn{
        width: 90% !important;
        display: flex;
        flex-direction: column;
    }
    .ContainerForSignIn .SignIn{
        width: 55% !important;
    }
    .SignIn .Input{
        width: 90% !important;
    }
    .RegistrBtn{
        display: block;
    }
    /**/
    .SignIn .SignInBTN{
        width: 140px;
        height: 50px;
        background-color: #3d6170b1;
        border-radius: 20px;
        font-size: large;
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-family: AdventPro;
        margin-bottom: 10px;
    }
    .SignIn .SignInBTN:hover{
        background-color: #3d6170;
        color: black;
    }
    .ContainerForSignIn .ChangeField{
        display: none;
    }
    .ForInputs .helpMessage{
        display: inline;
    }
}
@media screen and (max-width: 700px){
    .ContainerForSignIn{
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }
    .ContainerForSignIn .SignIn{
        width: 90% !important; 
    }
}