@import url('/src/Fonts/fonts.css');

.containerForTimingAndDelivery{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
}
.containerForTimingAndDelivery h1{
    width: 100%;
    text-align: center !important;
    font-family: 'Montserrat-Bold' !important;
    font-size: 22pt;
}
.containerForTimingAndDelivery .steps{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps .containerForGraphicRath{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.containerForTimingAndDelivery .graphicPath{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 10px 0;
}
.containerForTimingAndDelivery .graphicPath::before{
    content: '';
    width: 75%;
    position: absolute;
    border-top: 2px solid black;
}
.graphicPath .circle{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat-Regular';
    background: #5da6f3;
    color:rgb(238, 245, 253);
    border-radius: 50%;
    z-index: 1;
}
.containerForTimingAndDelivery .textPath{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.textPath .partOfPath{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 7px;
}
.partOfPath h3{
    font-family: 'Montserrat-Medium';
    color: #000000e1;
}
.partOfPath p{
    text-align: start;
    font-family: 'Montserrat-Light';
    color: black;
}

@media screen and (max-width:1240px) {
    .containerForTimingAndDelivery .graphicPath{
        height: 450px;
        flex-direction: column;
        padding: 0;
    }
    .containerForTimingAndDelivery .graphicPath::before{
        content: '';
        width: 0;
        height: 450px;
        border-top: none !important;
        border-right: 2px solid black;
    }
    .containerForTimingAndDelivery .textPath{
        width: 100%;
        flex-direction: column;
    }
    .containerForTimingAndDelivery .steps{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .steps .containerForGraphicRath{
        width: 50%;
    }
    .textPath .partOfPath{
        width: 100%;
        justify-content: flex-start;
        margin: 0;
    }
}
@media screen and (max-width:700px){
    .steps .containerForGraphicRath{
        display: none;
    }
    .containerForTimingAndDelivery .textPath{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    .textPath .partOfPath{
        width: 90%;
        align-items: center !important;
    }
    .partOfPath p{
        text-align: center !important;
    }
}
