.ContainerForTimingAndDelivery{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
}
.ContainerForTimingAndDelivery h1{
    width: 100%;
    text-align: center !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ContainerForTimingAndDelivery .Steps{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Steps .containerForGraphicRath{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.ContainerForTimingAndDelivery .GraphicPath{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items:center;
    /* justify-content: center; */
    margin: 10px;
}

.GraphicPath .hr{
    width: 260px;
    height: 2px;
    /* transform: rotate(90deg); */
    color: black;
    background: #000;
}
.GraphicPath .Circle{
    width: 50px;
    height: 50px;
    background: rgb(201, 64, 64);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(238, 245, 253);
    font-size: medium;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ContainerForTimingAndDelivery .TextPath{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.TextPath .PartOfPath{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 7px;
}
.PartOfPath p{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media screen and (max-width:1240px) {
    .ContainerForTimingAndDelivery .GraphicPath{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }
    .ContainerForTimingAndDelivery .Steps{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .GraphicPath .hr{
        display: none
    }
    .GraphicPath .Circle{
        width: 50px;
        height: 50px;
        background: rgb(201, 64, 64);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        margin: 0 0 150px 0;
    }
    .ContainerForTimingAndDelivery .TextPath{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .TextPath .PartOfPath{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
    }
    .PartOfPath p{
        text-align: start !important;
        /* font-weight: 500; */
    }
}
@media screen and (max-width:700px){
    .Steps .containerForGraphicRath{
        display: none;
    }
    .ContainerForTimingAndDelivery .TextPath{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .TextPath .PartOfPath{
        width: 90%;
        align-items: center !important;
    }
    .PartOfPath p{
        text-align: center !important;
    }
}
