@import url('/src/Fonts/fonts.css');

.catalogContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.catalogContainer .paragraph{
    width: 600px;
    font-family: 'Montserrat-Regular' ;
    font-size: 11pt;
    text-align: center;
    color: rgba(0, 0, 0);
}
.catalogContainer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.catalogContainer .listOfWorks{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.listOfWorks .loadingComp{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.catalogContainer .SearchMore{
    width: 120px;
    height: 40px;
    background-color: rgb(125, 6, 6);
    border-radius: 30px;
    border: none;
    color: antiquewhite;
    cursor: pointer;
    margin-top: 50px;
}
@media screen and (max-width: 890px) {
    .catalogContainer .paragraph{
        width: 95%;
    }
}
