@import url('/src/Fonts/fonts.css');
.addVariantHeader{
    width: 60%;
    font-family: 'Montserrat-Bold';
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.createContainer{
    width: 65%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    margin: 20px 0 0 0;
}
.createContainer input{
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Montserrat-Regular';
}
.createVariantCarousel{
    width: 60%;
    height: 250px;
    border-radius: 10px;
}