@import url('/src/Fonts/fonts.css');
body{
    background: #fff;
}
.App{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.warningHeader{
    width: 100%;
    height: 20px;
    text-align: center;
}
.warningMessage{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.SignInModalBtn{
    cursor: pointer;
}
h1{
    font-family: 'Montserrat-Bold';
    font-size: 22pt;
}